### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Stanford classes
/CS106ATiles.class
/Countdown.class
/DrawCenteredRect.class
/FindRange.class
/Hailstone.class
/Pyramid.class
/PythagoreanTheorem.class
/Target.class
/ImageShopAlgorithms.class
/ImageShopAlgorithmsInterface.class
/ImageShopProgram.class
/DarkRoom.class
/DarkRoomAlgorithms.class
/DarkRoomAlgorithmsInterface.class
